<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html, charset=UTF-8", http-equiv="Content-Type"/>
  </head>

  <body>
    <h3>This is notification message after a new post was added</h3>
    <br/>
    <p>Title: <%= @post.title %></p>
    <p>Link: <%= @url + @post.id.to_s %></p>
  </body>
</html>
