<div class="jumbotron">
  <h1>Welcome to the Rails Web</h1>
  <p class="lead">Rails web application on the Amazon Web Services!</p>
</div>

<hr>

<div class="row-fluid">
  <div class="span4">
    <h2>AWS</h2>
    <p>Amazon Web Services is a collection of remote computing services that together make
up a cloud computing platform, offered over the Internet by Amazon.com. The most central and 
well-known of these services are Amazon EC2 and Amazon S3. The service is advertised as 
providing a large computing capacity (potentially many servers) much faster and cheaper 
than building a physical server farm.</p>
    <p><a class="btn" href="http://aws.amazon.com">Go to AWS &raquo;</a></p>
  </div>

  <div class="span4">
    <h2>RoR</h2>
    <p>Ruby on Rails, often simply Rails, is an open source web application framework which 
runs on the Ruby programming language. It is a full-stack framework: it allows creating 
pages and applications that gather information from the web server, talk to or query the 
database, and render templates out of the box. As a result, Rails features a routing system 
that is independent of the web server.</p>
    <p><a class="btn" href="http://rubyonrails.org">Go to RoR &raquo;</a></p>
  </div>

  <div class="span4">
    <h2>OAuth</h2>
    <p>OAuth si an open standard for authorization. OAuth provides a method for clients to 
access server resources on behalf of a resource owner (such as a different client or an end-
user). It also provides a process for end-users to authorize third-party access to their 
server resources without sharing their credentials (typically, a username and password 
pair), using user-agent redirections.</p>
    <p><a class="btn" href="http://oauth.net">Go to OAuth &raquo;</a></p>
  </div>
</div>
